# Ignore environment variables
.env

# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore OS/IDE junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore build outputs (jika pakai TypeScript)
dist/
build/
